*{margin:0; padding: 10px}

body {
	margin: 0 auto ;
	width: 90%;
	font: 14px/20px "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	background-image:url(}.jpg);
	background-repeat: ;
  background-position: 100%;
	background-attachment: fixed;
	}


header{height: 150px;
                width:900px;
                font-family:Arial, Helvetica, sans-serif; background: white;border-radius: 10px;background-color: transparent;}


            ul, ol {
                list-style:none;
            }
            
            nav li {
                float:left; width:200px;
            }
            
            nav li a {
            	text-align: center;
                background-color:#2E2E2E;
                color:white;
                text-decoration:none;
                padding:5px 9px;
                display:block;
            }
            
            nav li a:hover {
                background-color: white;color: black
            }
            
            nav li ul {
                display:none;
                position:absolute;
                min-width:140px;
            }
            
            nav li:hover ul {
                display:block;
            }
            
            nav li ul li {
                position:relative;
            }
            
            nav li ul li ul {
                right:20px;
                top:6px;
            }

#intro { height: 160px;
  background: url(dise.jpg); border-radius: 8px;width: 900px }

#cuerpo{background-color: transparent; color: blue}
h1{font-size: 40px;padding: 20px 0;color:white; 
	text-shadow:2px 2px 2px #000; font-family: 'Architects Daughter',cursive;text-align:left;}
h4{font-size: 34px;padding: 20px 0;color:#642EFE; 
	text-shadow:2px 2px 2px #000; font-family: 'Architects Daughter',cursive;}

h3{font-size:25px;padding: 10px 0;color:purple;text-shadow:2px 2px 2px #ccc; font-family: 'Architects Daughter',cursive;}
h5{color:black;font-size: 28px; text-align:left; text-shadow:2px 2px 2px #000; font-family: 'Architects Daughter'}
p{font-size:25px;padding-bottom: 20px;color: black}
ul{font-size:18px}
ul li{font-size:18px;color: #FE2EF7}


 #content{height: 400px; width: 900px; margin: 4px 0; padding: 15px 20px
   	;-moz-border-radius:20px;}

	
.alignleft {
	float: left; 
     }

.alignright {
	float: right;
	
	}
.center{text-align: center;}

img {
	border:none; ;
	}

img.alignleft {
	margin: 5px 10px 0 0; 
	}

img.alignright {
	margin: 5px 0 0 10px; 
	}
aside {
	float: right;
	text-align: left;
	width: 150px;
}

article{clear: both;}
.post-section{background-color: white;
	color: black;
	height: 410px;
	margin-top: 10px;
	padding: 5px 20px;
	border: 5px black solid; border-radius: 10px; 
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

.post-section h2{
	color: blue;
	text-shadow: 2px 2px 2px #1bb5f5;
	background-color: #82d9fd;
	text-align: center;
	margin: 10px 0;
	border-radius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}



#nav li{list-style-type:square; display: inline}
#nav li a {color: black;}


#footer{
	clear: both;
	background: #ccc;
	color: black;
	margin: 10px 0;
	padding: 10px 0 0;
	border-radius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width: 900px;
	height: 50px
}
#footer p{
	text-align: center ;
	font-size: 20px;
	padding-right: 20px;}

	

